:root{
    --color-black: #343a40;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #E5E5E5;;
}

.esconder{
    display: none !important;
}

/* ==== SECTION ID: home-recrutador */

.container {

width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

div.content{
    width: 900px;
    border: 1px solid var(--color-black);
    padding-bottom: 2rem;
}

section h3{
    color: #fff;
    background-color: var(--color-black);
    text-align: center;
    padding: .5rem;
}

.job-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 2px solid #9e9e9e;

}

ul li:hover{
    background-color: #c7c7c7;
}

ul{
    margin-top: 2rem;
    width: 800px;
}

.buttons{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttons button{
    width: 150px;
    height: 35px;
}

.buttons button:first-child{
    background-color: #ccc;
    border-radius:  0.25rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.buttons button:first-child:hover{
    filter: brightness(0.9);
}

.buttons button:last-child{
    background-color: var(--color-black);
    color: #fff;
    border-radius:  0.25rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.buttons button:last-child:hover{
    filter: brightness(0.8);
}

/* ==== CADASTRO DE VAGA id cadastro-de-vaga */

.vaga-content{
    max-width: 350px;
    margin: 2rem auto 0;
}

.vaga-content div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
}

.vaga-content input{
    width: 200px;
    padding: 0.2rem;
    border-radius: 0.2rem;
    outline: none;
}

label{
    flex: 1;
    text-align: center;
}

body,  html, .container {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}


#container {
    margin: auto;
    margin-top: 15%;
    width: 40%;
    border: 1px solid black;
    border-radius: 4px;
}

#titulo {
    background-color:#343a40;
    color: white;
    padding: 0.5px;
    text-align: center;
}

main {
    text-align:flex-start;
    margin-left: 30%;
}

main p {
    margin-top: 6%;
    margin-bottom: 0%;
}

#container input {
    margin-top: 1%;
    border-radius: 2px;
    border: 1px solid #343a40;
    padding: 1%;
}

#container button {    
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2% 19%;    
}

#container button:hover {
    cursor: pointer;
    background-color:#343a407a;
    border: 1px solid #343a40;    
}

#inferior {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#inferior button {
    font-size: 1rem;
    color: blue;
   margin-top: 2%;
   border: none;
   border-style: none;
   background-color: white;
}

#inferior button:hover {
    cursor: pointer;
    color: #17a2b8;
    text-decoration: underline;
}

.exibir {
    display: block;
}

.esconder {
    display: none;
}

#container2 {
    margin: auto;
    margin-top: 5%;
    width: 60%;
    border: 1px solid black;
    border-radius: 4px;
}

#informacoesCadastro {
    margin-left: 20%;
}

#informacoesCadastro p {
    margin-bottom: 0%;
}

#informacoesCadastro input select{
    margin-top: 1%;
    border-radius: 2px;
    border: 1px solid #343a40;
    padding: 1%;
}

#botoes {
    display: flex ;
    justify-content: space-around;
}


#container2  #cadastrar {    
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 1% 5%;
}

#container2  #cadastrar:hover {
    cursor: pointer;
    color: white;
    background-color: #343a4065;
    border: 1px solid #343a40;
}

#container2  #return {    
    background-color: white;
    color:#343a40;
    border: 1px solid #343a40;
    border-radius: 2px;
    font-weight: bolder;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 1% 5%;
}

#container2  #return:hover {
    cursor: pointer;
    color: white;
    background-color: #343a4065;
    border: 1px solid #343a40;
}

#informacoesCadastro .esconder {
    color: red;
    font-size: 0.5rem;
}



